<footer class="jumbotron-fluid">
  <div class="row">
    <div class="col-sm-4">
      <p class="footer" style="margin-left: 1rem; margin-top: 2rem;">Photos by Zhen Hu and Josh Calabrese on Unsplash<br/>&copy; 2020 Eefje Post</p>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2" style="margin:1rem;"><a target="new" href="mailto:e.post@thebigidea.nl" class="fa fa-envelope" style="margin-right: 1rem;"></a><a target="new" href="http://nl.linkedin.com/in/eefje-post-2922973/" class="fa fa-linkedin-square"></a></div>
  </div>
</footer>
