.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 10px;
  font-size: 15px;
  size:15px;
  text-align: center;
  text-decoration: none;
  margin:1rem;
}

p {
  font-size: 12px;
}



.jumbotron-fluid {
  background-color:#eeeeee;
  background-size:cover;
  height: 100px;
}
