<div class="container" style="background-size: cover; margin-top: 5rem">
    <div class="row mx-auto" style="margin-top: 3rem">
        <p>We use cookies and similar technologies on our website and process personal data about you, such as your IP address.</p>
        <p>You are under 16 years old? Then you cannot consent to optional services, or you can ask your parents or legal guardians to agree to these services with you.</p>
    </div>
</div>
<div class="row justify-content-center" style="background-color: #eeeeee; margin:5rem"><button class='btn btn-outline-dark' (click)='onBack()'>Back</button></div>