<div class="jumbotron-fluid" Style="background-color:#eeeeee; background-size: cover; height:50px;">
</div>



    <div class="container">
      <div class="row" style="background-color: white">
        <div class="col-sm-4 mx-auto" style="background-color: white">
          <img class="img-responsive" src='./assets/images/eef3.jpg' style="height: 200px; margin:1rem">
        </div>
        <div class="col-sm-8" style="background-color: white">
          <h3 class='mx-auto' style=" margin:1rem">Over mij</h3>
          <p>Afgelopen 9 jaar was ik werkzaam in de industrie bij een klein familiebedrijf/startup (Green Turbine) in de rol als business development manager en het laatste jaar ben ik tevens werkzaam geweest als projectmanager bij Schiphol.</p>
          <p>In mijn vrije tijd was ik veel bezig met programmeren (websites en app ontwikkeling) en heb ik besloten om per februari 2020 de overstap te maken naar de functie van Software Developer. Bij mijn huidige werkgever Ordina ben ik bezig in een project intern project met Java en SpringBoot.</p>
          <p>Deze website heb ik ontwikkeld met Angular en Bootstrap 4.</p>
        </div>
      </div>
    </div>




  <div class="container" style="background-image: url('./assets/images/boulders.jpg'); background-size: cover">

    <div class="row">

        <div class="card col-sm-3">
        <div class="card-body">
          <h3 class="card-title">Software projecten</h3>
          <p> Momenteel ben ik bezig met een intern project waarbij we gebruik maken van Spring Boot, Java en JPA repository.<p>
          <p> De ontwikkeling van deze website heb ik gerealiseerd door gebruik te maken van Angular Cli en Bootstrap.</p>
          <p>Met behulp van Android Studio en Java heb ik een app ontwikkeld; Eve's Sew Quick Tool. Deze is te vinden in de Google Play Store.</p>
           <a href=".html"><button class="btn btn-outline-dark mt-auto">Eve's Sew Quick Tool</button></a>
        </div>
      </div>




      <div class="card col-sm-3">
        <div class="card-body">
          <h3 class="card-title">Opleiding en training</h3>
          <p> Ik heb een opleidingsprogramma doorlopen waarbij de volgende trainingen aan bod kwamen:</p>
          <ul>
            <li>Databases en SQL</li>
            <li>CI/CD-pipelines (o.a. Git en Docker)</li>
            <li>Test driven development</li>
            <li>Object Orientatie en Design patterns</li>
            <li>Agile en Scrum (ik ben PSM I gecertificeerd).</li>
          </ul>

          <p> Daarnaast heb ik -tijdens werkervaring- vaardigheden opgedaan in:</p>
          <ul>
            <li>Java, Android Studio, Gradle en publicatie van Apps in de Google Play Store.</li>
            <li>HTML, CSS, Bootstrap</li>
            <li>Angular</li>
            <li>Typescript</li>
          </ul>
        </div>
      </div>



        <div class="card col-sm-3">
          <div class="card-body">
            <h3 class="card-title">Overige projecten</h3>
            <p>Hier heb ik veel ervaring opgedaan in business development; van het uitwerken van een idee tot het opzetten van haalbare business cases en projectconsortia.
            <p>Daarnaast heb ik veel ervaring in projectmanagement, documentatie en eindverantwoording opgedaan. </p>
            <p> Veel van deze innovatieve ontwikkeltrajecten hebben we uitgevoerd in samenwerking met nationale/internationale subsidies.</p>
            <div class="mt-auto"><a href=".html"><button class="btn btn-outline-dark">Meer informatie</button></a></div>
          </div>
      </div>
    </div>

</div>


