html,
body{
   max-width: 100% !important;
   overflow-x: hidden !important;
   height: 100%;
}


h1 {
  color:white;
  font-size: 50px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
}

h3 {
  color:black;
  font-size: 20px;

}

h2 {
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

i {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

li {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.card {
  display: flex;
  overflow-x: hidden !important;
  max-width: 82% !important;
  margin-top: 3rem;
  align-self: center;
  border-radius: 15px;
}


.fa {
      font-size: 36px;
      width: 60px;
      text-decoration: none;
    }

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
background: #007bb5;
  color: white;
}

.fa-github {
background: #007bb5;
  color: white;
}

.fa-envelope {
  background: #007bb5;
  color: white;
}

.containerMobile {
  max-width: 100% !important;
  overflow-x: hidden !important;
  border-radius: 15px;
}


@media (min-width: 768px) {
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
   background-color: black;
   margin-top: 5rem;
}

.img-responsive{
  max-width: 100% !important;
  overflow-x: hidden !important;
  flex-basis: auto;
}

.img-responsiveIcon{
  max-width: 100% !important;
  overflow-x: hidden !important;
  flex-basis: auto;
}

.img-fluid{
  max-width: 100% !important;
  height: auto;
  overflow-x: hidden !important;
  flex-basis: auto;
}
  
  .containerTwo {
    background-image: url('src/assets/images/boulders.jpg');
    max-width: 100% !important;
     overflow-x: hidden !important;
  }

  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;
  }

  .row>.col {
    flex-basis: auto;
  }

}










