
.jumbotron-fluid {
  height: 600px;
  display: flex;
  align-items: center;
  background-color:#eeeeee;
}

h1 {
  color:white;
  font-size: 50px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
}

h3 {
  color:black;
  font-size: 20px;

}

h2 {
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
}

.container{
  align-self: center;
  width:95%;
  margin: 2rem;

}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

li {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}



.card {
  width: 25rem;
  display: flex;
  margin: 2rem;
}

.containerMobile{

}



@media (min-width: 768px) {
  .containerTwo {
    background-image: url('src/assets/images/boulders.jpg');
  }
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;

  }

}










