html,
body{
   max-width: 100% !important;
   overflow-x: hidden !important;
   height: 100%;
   background-color:#eeeeee;
}


h1 {
  color:white;
  font-size: 50px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
}

h3 {
  color:black;
  font-size: 20px;

}

h2 {
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

li {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.card {
  display: flex;
  overflow-x: hidden !important;
  max-width: 100% !important;
  margin-top: 3rem;
}

.containerMobile {
  max-width: 100% !important;
  overflow-x: hidden !important;
}


@media (min-width: 768px) {
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
   
}

.img-responsive{
  max-width: 100% !important;
  overflow-x: hidden !important;
  flex-basis: auto;
}

.img-fluid{
  max-width: 100% !important;
  height: auto;
  overflow-x: hidden !important;
  flex-basis: auto;
}
  
  .containerTwo {
    background-image: url('src/assets/images/boulders.jpg');
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;
  }

  .row>.col {
    flex-basis: auto;
  }

}










