
<div class="container-fluid" style="height: 150px; margin-bottom: 0rem; background-color: black">
  <div class="row" style="align-content: center; height: 150px">
    <h2 class='mx-auto'>Projects</h2>
  </div>
</div>

<div class="jumbotron-fluid" style="background-color: black">
  
  <div class="container" style="background-color: black">
    <ul class="timeline">

        <li class="dropdown">
          <div class="timeline-badge info">2022</div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Sabbatical</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2022</small></p>
              </div>
              <div class="timeline-body">
                <p>Currently, I am taking some time off and I will focus on a private project with React (Native), Expo and Firebase. Please, see my Github for more information: <a href="https://github.com/Eefjepost/VeggieGardenStartTool" style="color: #538d40">"Veggie Start Tool"</a>. Furthermore, I got my (international) boating license and I learned to sail. </p>
              </div>
          </div>
       </li>

        <li class="dropdown">
          <div class="timeline-badge info">2020</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Switch to Software Developer - Rabobank</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2020 - 2022</small></p>
            </div>
            <div class="timeline-body">
                <p>After a year of travelling with my family, I started a position at Ordina in the spring of 2019. My first assigment was an IT projectmanagement role at Schiphol Airport. However, after 9 months, I switched to a Software developers role. </p>
                <p>In this role, I gained experience in programming while working at an internal project for Ordina. However, after two months or so, I started my first assigment at Rabobank. </p> 
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge succes">2018</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">App development</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2017-2018</small></p>
            </div>
            <div class="timeline-body">
              <p>Next to my work I learned to code in Javascript, Java and also explored Android Studio and SQLite.</p>
              <p>In July of 2018 published my android app in the Google Play Store: <a href="https://tinyurl.com/y2vc2lnq" style="color: #538d40">"Eve's Sew QuickTool"</a>.</p>
            </div>
          </div>
        </li>

        <li class="dropdown">
          <div class="timeline-badge warning">2017</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Pilot Project Water Authorities</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oktober 2015-september 2017</small></p>
            </div>
            <div class="timeline-body">
              <p>In my time at Green Turbine BV, we've done several projects. In this project, we've tested and demonstrated a complete waste heat recovery system at a water purification location (Stichtse Rijnlanden).</p>
              <p>In this project, I gathered a consortia of several water authorities, a farmer and some other supplying companies.</p>
              <p>This project was financially supported by a Dutch grant of the Ministery of economic affairs in The Netherlands.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge warning"><p>2017</p></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Feasibillity study Shipping industry - Horizon 2020 project</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2015- 2016</small></p>
            </div>
            <div class="timeline-body">
              <p> In this European grant project, Green Turbine BV performed a feasibillity study with regards to a waste heat recovery system in the shipping industry. The focus of this project was mostly on technical and economical feasibillty.</p>
              <p> In this project, I was responsible for gathering consortia and projectmanagement. </p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge danger">2015</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Pilot project Green Turbine - Eberspaecher</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2015 </small></p>
            </div>
            <div class="timeline-body">
              <p> In cooperation with Ebersp&auml;cher Exhaust Technology GmbH & Co. KG, Green Turbine established a pilot project, in which a Green Turbine system used the waste heat of a diesel engine in order to generate electricity. </p>
              <p> This project was financially supported by the Ministery of economic affairs in The Netherlands.</p>
              <p> My role was to secure investment from several parties and management of this grant project.</p>
            </div>
          </div>
        </li>

    </ul>

  
</div>

<div class="row justify-content-center" style="background-color: black; margin: 5rem;"><button class='btn btn-outline-light' (click)='onBack()'>Back</button></div>
