
<div class="container-fluid" style="height: 150px; margin-bottom: 0rem; background-color: #eeeeee">
  <div class="row" style="align-content: center; height: 150px">
    <h2 class='mx-auto' style="margin-left:0rem">Projecten</h2>
  </div>
</div>

<div class="jumbotron-fluid" style="background-color: #eeeeee">
<div class="container" style="background-color: #eeeeee">
  <ul class="timeline">


    <li class="dropdown">
      <div class="timeline-badge info">2018</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Android Studio project</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2018</small></p>
        </div>
        <div class="timeline-body">
          <p>Op dit moment ben ik bezig met een nieuw project in Android studio (Java). Helaas kan ik daar op dit moment nog niets over prijsgeven.</p>
          <p>Daarnaast verblijf ik een jaar in het buitenland en ben ik in Augustus 2019 weer beschikbaar voor projecten.</p>

        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge succes">2018</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Verdieping in Java, Android Studio, SQLite en realisatie Android App</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2017-2018</small></p>
        </div>
        <div class="timeline-body">
          <p>Naast mijn werk ben ik mijzelf gaan verdiepen in Javascript, Java, Android Studio en SQLite in het tweede deel van 2017.</p>
          <p>Eind 2017 ben ik tevens gestart met de ontwikkeling van een Android App: "Eve's SewQuickTool". Deze heb ik in juli 2018 gepubliceerd in de Google App Store.</p>
          <p>Daarnaast heb ik  in dit jaar deze website gerealiseerd door mijzelf verder te verdiepen in Bootstrap.</p>
          <p> Meer informatie over deze switch vind je <a href="http://www.thebigidea.nl/appdevelopment.html" style="color: #538d40" target="_blank">hier.</a></p>


        </div>
      </div>
    </li>

    <li class="dropdown">
      <div class="timeline-badge warning">2017</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Pilot Project Green Turbine - Waterschappen</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Oktober 2015-september 2017</small></p>
        </div>
        <div class="timeline-body">
          <p>In dit pilotproject hebben Green Turbine BV en AE Magnetics BV een compleet restwarmte systeem ontwikkeld met de Green Turbine technologie en vervolgens getest op een waterzuivering van het waterschap Stichtse Rijnlanden.</p>
          <p>Bij dit project heb ik het consortia bijeengebracht wat bestond uit de volgende partijen: Waterschap Stichtse Rijnlanden, Waterschap Vechtstromen, Veehouderij Johannes van der Veen, Bepart BV (moederbedrijf van Green Turbine) en AE Magnetics BV.</p><p>Naast projectmanagement heb ik me ook bezig gehouden met de eindverantwoording van dit project </p>
          <p>Dit project is uitgevoerd met hulp van de subsidieregeling "Hernieuwbare energie" van het ministerie van economische zaken.</p>
          <p> Meer informatie over dit project vind je <a href="http://greenturbine.eu/projects.html" style="color: #538d40" target="_blank">hier.</a></p>


        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><p>2017</p></div>
      <div class="timeline-panel">
        <div class="timeline-heading">

          <h4 class="timeline-title">Haalbaarheidsonderzoek Green Turbine- scheepvaart - Horizon 2020 project</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2015- 2016</small></p>

        </div>
        <div class="timeline-body">

          <p>Een haalbaarheidsonderzoek naar de kansen en mogelijkheden van een Green Turbine restwarmte systeem in de baggervaart en binnenvaart. Deze studie omvatte een technische validatie van het Green Turbine systeem en een marktonderzoek gericht op de eerder genoemde markten.</p>
          <p> Samen met het team van AE Magnetics BV heb ik de aanvraag geschreven, projectmanagement uitgevoerd en was ik verantwoordelijk voor de eindverantwoording. </p>

        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge danger">2015</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Pilot project Green Turbine - Eberspaecher</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2015 </small></p>
        </div>
        <div class="timeline-body">
          <p> In samenwerking met Ebersp&auml;cher Exhaust Technology GmbH & Co. KG heeft Green Turbine een pilot plant op lab schaal gerealiseerd waarbij een 1.2 kWe Green Turbine werd aangedreven met de uitlaatgassen van een dieselmotor.</p>
          <p> Dit project werd mede mogelijk gemaakt door de subsidie regeling van het ministerie van Economische zaken, uitgevoerd door het EICB.</p>
          <p> Tijdens dit project ben ik verantwoordelijk geweest voor de investering vanuit Eberspaecher, het schrijven van de aanvraag, projectmanagement en eindverantwoording.</p>
        </div>
      </div>
    </li>


</ul>

</div>
</div>
<div class="row justify-content-center" style="background-color: #eeeeee; margin:5rem"><button class='btn btn-outline-dark' (click)='onBack()'>Terug</button></div>
