
.jumbotron-fluid {
  height: 600px;
  display: flex;
  align-items: center;
  background-color:#eeeeee;
}

h1 {
  color:white;
  font-size: 50px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  text-align: center;
}





h3 {
  color:black;
  font-size: 20px;

}

h2 {
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
  align-self: center;
}

.container{
  align-self: center;
  width:95%;

}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.footer {
  font-size: 10px;
}



