
<div class="jumbotron-fluid" Style="background-image: url('./assets/images/sprout.jpg'); background-size: cover;">

  <div class="container">
    <div class="row text-center">
      <h1 class='mx-auto' >Software ontwikkeling en advies</h1>
    </div>
    <div class="row">
      <h2 class='mx-auto'>Van idee tot project.</h2>
    </div>
  </div>
</div>

<div div class="jumbotron-fluid" style="background-color: black; background-size: cover; height:150px; ">
  <div class="container">
    <div class="row text-center">
      <h2 class='mx-auto'>Hier kan ik je mee helpen:</h2>
    </div>
  </div>
</div>



    <div class="container" style="margin-top: 5rem">
    <div class="row" style="background-color: white;">
      <div class="col-sm-4 mx-auto" style="background-color: white">
        <img class="img-responsive" src='./assets/images/greenlinks.jpg' style="width: 100%; margin-top: 2rem;">
      </div>
      <div class="col-sm-8" style="background-color: white;">
        <h3 class='mx-auto' style="margin: 2rem">Software Ontwikkeling</h3>
        <p>Ik ben vaardig in het ontwikkeling van apps voor o.a. Android toepassingen. In juli 2018 heb ik mijn eerste Android app in de Google play store gepubliceerd, <a href="https://tinyurl.com/y2vc2lnq" style="color: #538d40">klik hier</a> voor meer informatie. Meer over de totstandkoming van deze app, lees je <a href="appdevelopment.html" style="color: #538d40"> hier</a>.
        <p>Momenteel ben ik bezig in een project intern project bij mij werkgever met Java en SpringBoot.</p>
        <p>Deze website heb ik ontwikkeld met Angular en Bootstrap.</p>
        <p> <a href="About.html"><button class="btn btn-outline-dark">Meer informatie</button></a></p>

    </div>
    </div>
    </div>


<div class="container" style="margin-top: 5rem">
  <div class="row" style="background-color: white;">
    <div class="col-sm-4 mx-auto" style="background-color: white">
      <img class="img-responsive" src='./assets/images/greenrechts.jpg' style="width: 100%; margin-top: 2rem;">
    </div>
    <div class="col-sm-8" style="background-color: white;">
      <h3 class='mx-auto' style="margin: 2rem">Ontwikkeling en advies</h3>
      <p> Ik ben <a href="https://www.scrum.org/certificates/476274" style="color: #538d40">PSM I gecertificeerd </a> en heb tevens ca. 9 jaar project management/business development ervaring in startups. Hierdoor ben ik tevens vaardig in het mobiliseren van partijen, zoeken van samenwerkingen tot het uitwerken van een idee tot een concreet project. </p>
      <p> <a href="About.html"><button class="btn btn-outline-dark">Meer informatie</button></a></p>

    </div>
  </div>
</div>





<div class="jumbotron-fluid" style="align-items: start; background-color: #eeeeee; background-size: cover; height:400px">
  <div class="container">
  </div>

</div>


